.cell {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    margin: 1px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cellContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.col{
    width:32px;
    height: 32px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.col:hover {
background-color: gray;
}

